.about-section {
    font-size:larger;
    padding: 50px;
    text-align: center;
    color: white;
    background-color: #006697;
}
.more-section {
    display: flex;
}
.contact-section {
    font-size: x-large;
    margin-top: 40px;
    margin-left: 6%;
    margin-right: 10%;
    display: block;
    color: black;
}
    .contact-section h3 {
        margin-top: 30px;
        margin-left: 15px;
        color: #006697;
        display: block;
    }
    .contact-section p {
        margin-top: 5px;
        font-weight: bold;
        margin-left: 15px;
        color: black;
    }

.mail-section {
    font-size: x-large;
    display: block;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 6%;
    width: 30%;
    font-weight: bold;
}
    .mail-section label {
        color: #006697;

        display: block;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .mail-section input[type="submit"] {
        background: #006697;
        color: #fff;
        width: 100%;
        border: 0;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
    }
    .mail-section input {
        outline: solid;
        outline-width: 2px;
        border-width: 1px;
        border-radius: 8px;
        font-size: x-large;
        width: 100%;
        padding: 1rem;
        margin-bottom: 10px;
    }
    .mail-section textarea {
        font-size: x-large;
        width: 100%;
        outline: solid;
        outline-width: 1px;
        padding: 1rem;
        border-radius: 8px;
        border-width: 1px;
        min-height: 250px;
        resize: vertical;
        margin-bottom: 10px;
    }