.startpage-inner {
    padding: 5px 0px 50px 0px;
}

.startpage-inner h3{
    padding-left: 10px;
    font-weight: 600;
    font-size: xx-large;
    color: #12538b;

}

.startpage-group {
    padding: 20px 0px 0px 0px;
}

.select-on-map{
    font-size: medium;
    font-weight: 400;
    padding: 0px 0px 10px 20px;
    /* color: rgb(73, 73, 73); */

}
